
/* @media screen and (min-width: 768px) { */
    .headerApp {
        width: 100%;
        height: 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        background-color: #50C8F2;
        padding: 0px 20px;

    }
    .containerItem1 {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 5px;
    }
    
    .containerItem2 {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }


    .footer {
        width: 100%;
        height: 5%;
        padding: 0px 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        background-color: #50C8F2;
    }

    .containerItem1 > p, h1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .containerMain {
        width: 100%;
        height: 85%;
        display: grid;
        grid-template-columns: 40% 60%;

    }
    .ContainerContent {
        width: 100%;
        height: 100%;
    }

    .containerIdioma {
        width: 20%;
        margin-left: 20px;

    }

    .containerIdioma>.form-select {
        color: #50C8F2;
        font-weight: bolder;
        font-size: 1.2em;

    }

    .containerIdioma>.form-select:focus {
        box-shadow: 0px;
        outline: 0px;
        border-color: 0px;
    }


    
    p {
        color: #ffffff;
        font-weight: bolder;
        font-size: 1.2em;
       
    }
    h1{
        color: #ffffff;
        font-weight: bolder;
        font-size: 1.6em;
        margin: 0px 0px 0px 0px;
    }
    i {
        color: #ffffff;
        font-size: 1.5em;

    }
    .ContainerContent{
       /*  overflow-y: scroll; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerImage{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* } */


@media screen and (max-width: 768px) {
    h1{
        font-size: 1em;
    }
    p{
        font-size: 0.7em;
    }
    .containerMain {
        width: 100%;
        height: 90%;
        display: grid;
        grid-template-columns: 100%;

    }
    .containerMain {
        width: 100%;
        height: 85%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;

    }
}

@media screen and (max-width: 425px) {
    .containerItem1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .containerItem2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  .containerIdioma {
    width: 40%;
    margin-left: 0px;
    margin-top: 5px;

}
}