
                    <i class="activity__list__icon fa fa-question-circle-o" aria-hidden="true"></i>
                    <div class="activity__list__header">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="foto de perfil de Muhamedd Tyson">
                        <a href="#">{{ user }}</a> Posted the question: <a href="#">{{ question }}</a>
                    </div>
                    <div class="activity__list__body entry-content">
                        <p class="text-black">
                            <em>{{ message }}</em>
                        </p>
                        <!--<img src="../static/imagenes/Captura desde 2022-10-26 22-27-31.png" class="image" alt="foto publicada por Muhamedd Tyson">-->
                    </div>
                    <div class="activity__list__footer">
                        <a href="#"> <i class="fa fa-thumbs-up" aria-hidden="true"></i>123</a>
                        <a href="#"> <i class="fa fa-comments" aria-hidden="true"></i>23</a>
                        <span> <i class="fa fa-clock" aria-hidden="true"></i>2 hours ago</span>
                    </div>
