{% extends 'base_app.html' %}

{% block content %}
<link rel="stylesheet" href="../static/css/friends.css">
<main class="container d-flex ContainerContent">
                <section class="profile-container col-12">

                    <div class="container">
                        <div class="d-flex justify-content-end mb-3 mt-3">
                            <input type="text" class="rounded-4">
                        </div>
                        <div class="d-flex justify-content-between mt-3 mb-3">
                           <a href="#" class="btn btn-primary rounded-4 w-25">SUGERENCIAS</a>
                           <a href="#" class="btn btn-primary rounded-4 w-25">SOLICITUDES</a>
                           <a href="#" class="btn btn-primary rounded-4 w-25">AMIGOS</a>
                        </div>
                        <div class="row text-center">
                            <article class="col-12 col-md-6 col-lg-3 mb-3">
                                <div class="card align-items-center p-2">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="card-img-top rounded-circle" alt="solicitud de Carlos Perez">
                                    <div class="card-body">
                                        <p class="text-black">Carlos Perez</p>
                                        <a href="#" class="btn btn-danger rounded-5 mb-2 text-white">Rechazar</a>
                                        <a href="#" class="btn btn-info rounded-5 mb-2 text-white">Confirmar</a>
                                    </div>
                                  </div>
                            </article>
                            <article class="col-12 col-md-6 col-lg-3 mb-3">
                                <div class="card align-items-center p-2">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="card-img-top rounded-circle" alt="solicitud de Jose Paez">
                                    <div class="card-body">
                                        <p class="text-black">Jose Paez</p>
                                        <a href="#" class="btn btn-danger rounded-5 mb-2 text-white">Rechazar</a>
                                        <a href="#" class="btn btn-info rounded-5 mb-2 text-white">Confirmar</a>
                                    </div>
                                  </div>
                            </article>
                            <article class="col-12 col-md-6 col-lg-3 mb-3">
                                <div class="card align-items-center p-2">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="card-img-top rounded-circle" alt="solicitud de Stephanie Silva">
                                    <div class="card-body">
                                        <p class="text-black">Stephanie Silva</p>
                                        <a href="#" class="btn btn-danger rounded-5 mb-2 text-white">Rechazar</a>
                                        <a href="#" class="btn btn-info rounded-5 mb-2 text-white">Confirmar</a>
                                    </div>
                                  </div>
                            </article>
                            <article class="col-12 col-md-6 col-lg-3 mb-3">
                                <div class="card align-items-center p-2">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="card-img-top rounded-circle" alt="solicitud de David Lara">
                                    <div class="card-body">
                                        <p class="text-black">David Lara</p>
                                        <a href="#" class="btn btn-danger rounded-5 mb-2 text-white">Rechazar</a>
                                        <a href="#" class="btn btn-info rounded-5 mb-2 text-white">Confirmar</a>
                                    </div>
                                  </div>
                            </article>
                            <article class="col-12 col-md-6 col-lg-3 mb-3">
                                <div class="card align-items-center p-2">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="card-img-top rounded-circle" alt="solicitud de Marcos Paez">
                                    <div class="card-body">
                                        <p class="text-black" >Marcos Paez</p>
                                        <a href="#" class="btn btn-danger rounded-5 mb-2 text-white">Rechazar</a>
                                        <a href="#" class="btn btn-info rounded-5 mb-2 text-white">Confirmar</a>
                                    </div>
                                  </div>
                            </article>
                            <article class="col-12 col-md-6 col-lg-3 mb-3">
                                <div class="card align-items-center p-2">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="card-img-top rounded-circle" alt="solicitud de Daniel Marcano">
                                    <div class="card-body">
                                        <p class="text-black">Daniel Marcano</p>
                                        <a href="#" class="btn btn-danger rounded-5 mb-2 text-white">Rechazar</a>
                                        <a href="#" class="btn btn-info rounded-5 mb-2 text-white">Confirmar</a>
                                    </div>
                                  </div>
                            </article>
                            <article class="col-12 col-md-6 col-lg-3 mb-3">
                                <div class="card align-items-center p-2">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="card-img-top rounded-circle" alt="solicitud de Jose Vasquez">
                                    <div class="card-body">
                                        <p class="text-black">Jose Vasquez</p>
                                        <a href="#" class="btn btn-danger rounded-5 mb-2 text-white">Rechazar</a>
                                        <a href="#" class="btn btn-info rounded-5 mb-2 text-white">Confirmar</a>
                                    </div>
                                  </div>
                            </article>
                            <article class="col-12 col-md-6 col-lg-3 mb-3">
                                <div class="card align-items-center p-2">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="card-img-top rounded-circle" alt="solicitud de Patricia Colmenares">
                                    <div class="card-body">
                                        <p class="text-black">Patricia Colmenares</p>
                                        <a href="#" class="btn btn-danger rounded-5 mb-2 text-white">Rechazar</a>
                                        <a href="#" class="btn btn-info rounded-5 mb-2 text-white">Confirmar</a>
                                    </div>
                                  </div>
                            </article>
                        </div>
                    </div>

                    <div class="display-6 text-end d-flex justify-content-end mt-5">
                        <i class="fa-solid fa-chevron-left"></i>
                        <small>PAG01</small>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </section>


            </div>
        </div>
    </main>
{% endblock %}
