{% extends 'base_app.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/style_wall.css" />
<section class="ContainerContent">
      <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Activity Feed</h3>
        </div>
        <div class="panel-content panel-activity">
            <form name="post" id="post-box"  class="panel-activity__status">
                <textarea name="user_activity" placeholder="Share what you've been up to..." class="form-control"></textarea>
                <div class="actions">
                    <div class="btn-group">
                        <button type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Post an Image">
                            <i class="fa fa-image"></i>
                        </button>
                        <button type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Post an Video">
                            <i class="fa fa-video-camera"></i>
                        </button>
                        <button type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Post an Music">
                            <i class="fa fa-music"></i>
                        </button>
                        <button type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Public or Private">
                            <i class="fa fa-globe"></i>
                        </button>
                    </div>
                    <button type="submit" class="btn btn-info rounded-2 text-white">
                        Post
                    </button>
                </div>
            </form>
            <ul class="panel-activity__list">
                <li>
                    <i class="activity__list__icon fa fa-question-circle-o"></i>
                    <div class="activity__list__header">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="foto de perfil de Muhamedd Tyson" />
                        <a href="#">Muhamedd Tyson</a> Posted the question: <a href="#">Long Life to Free Software</a>
                    </div>
                    <div class="activity__list__body entry-content">
                        <p class="text-black">
                            <em>I Love it...</em>
                        </p>
                        <img src="../static/imagenes/Captura desde 2022-10-26 22-27-31.png" class="image" alt="foto publicada por Muhamedd Tyson">
                    </div>
                    <div class="activity__list__footer">
                        <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                        <a href="#"> <i class="fa fa-comments"></i>23</a>
                        <span> <i class="fa fa-clock"></i>2 hours ago</span>
                    </div>
                </li>
                <li>
                    <i class="activity__list__icon fa fa-question-circle-o"></i>
                    <div class="activity__list__header">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="foto de pefil de John Doe" />
                        <a href="#">John Doe</a> Posted the question: <a href="#">How can I change my annual reports for the better effect?</a>
                    </div>
                    <div class="activity__list__body entry-content">
                        <blockquote>
                            <p class="text-black">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ab a nostrum repudiandae dolorem ut quaerat veniam asperiores, rerum voluptatem magni dolores corporis! Molestiae commodi nesciunt a,
                                repudiandae repellendus ea.
                            </p>
                        </blockquote>
                    </div>
                    <div class="activity__list__footer">
                        <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                        <a href="#"> <i class="fa fa-comments"></i>23</a>
                        <span> <i class="fa fa-clock"></i>2 hours ago</span>
                    </div>
                </li>
                <li>
                    <i class="activity__list__icon fa fa-image"></i>
                    <div class="activity__list__header">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="foto de perfil de John Doe" />
                        <a href="#">John Doe</a> Uploaded 4 Image: <a href="#">Office Working Time</a>
                    </div>
                    <div class="activity__list__body entry-content">
                        <ul class="gallery">
                            <li>
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="foto 1 publicada por John Doe" />
                            </li>
                            <li>
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="foto 2 publicada por John Doe" />
                            </li>
                            <li>
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="foto 3 publicada por John Doe" />
                            </li>
                            <li>
                                <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="foto 4 publicada por John Doe" />
                            </li>
                        </ul>
                    </div>
                    <div class="activity__list__footer">
                        <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                        <a href="#"> <i class="fa fa-comments"></i>23</a>
                        <span> <i class="fa fa-clock"></i>2 hours ago</span>
                    </div>
                </li>
                <li>
                    <i class="activity__list__icon fa fa-question-circle-o"></i>
                    <div class="activity__list__header">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="foto de perfil de Cristian David" />
                        <a href="#">Cristian David</a> Posted the question: <a href="#">How can I change my annual reports for the better effect?</a>
                    </div>
                    <div class="activity__list__body entry-content">
                        <blockquote>
                            <p class="text-black">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ab a nostrum repudiandae dolorem ut quaerat veniam asperiores, rerum voluptatem magni dolores corporis! Molestiae commodi nesciunt a,
                                repudiandae repellendus ea.
                            </p>
                        </blockquote>
                    </div>
                    <div class="activity__list__footer">
                        <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                        <a href="#"> <i class="fa fa-comments"></i>23</a>
                        <span> <i class="fa fa-clock"></i>2 hours ago</span>
                    </div>
                </li>
                <li>
                    <i class="activity__list__icon fa fa-lightbulb-o"></i>
                    <div class="activity__list__header">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="foto de perfil de John Doe" />
                        <a href="#">John Doe</a> bookmarked a page: <a href="#">Awesome Idea</a>
                    </div>
                    <div class="activity__list__footer">
                        <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                        <a href="#"> <i class="fa fa-comments"></i>23</a>
                        <span> <i class="fa fa-clock"></i>2 hours ago</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</section> <!--container content-->
<script type="text/javascript" src="../static/js/validateHome.js" ><script>
{% endblock %}
