{% extends 'base_app.html' %}

{% block content %}
<link rel="stylesheet" href="../static/css/editar.css" />
<section class="ContainerContent">
      <section class="containerSecundario">
        <section class="containerConf">
          <section>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Publicaciones
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label" for="flexCheckChecked">
                Comentarios
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label" for="flexCheckChecked">
                Solicitud de Amistad
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label" for="flexCheckChecked">
                Chat
              </label>
            </div>
          </section>
          <section class="containerSelect">
            <label>Tema</label>
            <br>
            <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c"
              title="Choose your color">

          </section>
          <section class="containerSelect">
            <label> Idioma</label>
            <select class="form-select" aria-label="Default select example">
              <option selected> Es</option>
              <option value="1">IN</option>
              <option value="2">Port</option>
            </select>
          </section>
          <section class="containerSelect">
            <label> Region</label>
            <select class="form-select" aria-label="Default select example">
              <option selected> Es</option>
              <option value="1">IN</option>
              <option value="2">Port</option>
            </select>
          </section>
          <section class="containerSelect">
            <label> Privacidad</label>
            <select class="form-select" aria-label="Default select example">
              <option selected> Es</option>
              <option value="1">IN</option>
              <option value="2">Port</option>
            </select>
          </section>
          <section class="row mt-2 mb-2">
            <div class="col-md-12 iconMundo">

              <label> Publicaciones</label>
              <i class="fa-solid fa-globe"></i>
            </div>
          </section>
          <section class="row row mt-2 mb-2">
            <div class="col-md-12 iconMundo">
              <label> Comentarios</label>
              <i class="fa-solid fa-globe"></i>
            </div>
          </section>
        </section>

        <section class="containerEditar">
          <form action="editprofile" method="POST" class="row g-3">
            <section class="containerHeader">
              <div class="col-md-4 d-flex justify-content-around align-items-center">
                <img src="../static/imagenes/modo-retrato.png" alt="usuario" width="20%" height="20%">
                <input class="form-control" type="file" id="userprofile" name="userprofile"
                  style="color: #ffffff; background-color: #50C8F2 ;border: 0px ; width: 50%">
                <!-- <input type="file" class="btn btn-primary" style="color: #ffffff; background-color: #50C8F2 ;border: 0px" /> -->
              </div>
            </section>
            <div class="col-md-6">
                <input type="text" class="form-control" name="user-firstname" id="user-firstname" placeholder="Nombre" value="{{session['user-firstname']}}">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="user-lastname" name="user-lastname" placeholder="Apellido" value="{{session['user-lastname']}}">
            </div>

            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">
                 Cedula
                </label>
              <input type="text" class="form-control" id="userci" name="userci" value="{{ session['userci'] }}" />
            </div>

            <div class="col-md-6" >
      			  <label class="form-control-label" for="userpasswd">
                Contraseña
              </label>
      			  <input class="form-control" type="password" id="userpasswd" name="userpasswd" aria-label="User name" value="{{ session['userpasswd'] }}" />
      			</div>

            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Email
                <i class="fa-solid fa-globe iconMundo"></i>
              </label>
              <input type="email" class="form-control" id="useremail" name="useremail" value="{{session['useremail']}}">
            </div>

            <div class="col-md-6">
              <label for="inputCity" class="form-label">Fecha Nacimiento <i class="fa-solid fa-globe iconMundo"></i></label>
              <input type="date" class="form-control" id="userbithdate" name="userbithdate" value="{{session['userbithdate'] }}" >
            </div>
            <div class="col-md-6">
              <label for="inputState" class="form-label"> Sexo <i class="fa-solid fa-globe iconMundo"></i></label>
              <select id="inputState" class="form-select" id="usersex" name="usersex" >
                {% if session['usersex'] == 'F' %}
                  <option selected value="F">Femenino</option>
                  <option value="M">Masculino</option>
                {% elif session['usersex'] == 'M' %}
                <option value="F">Femenino</option>
                <option selected value="M">Masculino</option>
                {% endif %}
              </select>
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label"> Descripcion <i class="fa-solid fa-globe iconMundo"></i></label>
              <textarea class="form-control border border-info" type="text" id="userabout" name="userabout" rows="3" placeholder="1234 Main St" value="{{session['userabout']}}"></textarea>
            </div>

            <div class="col-12 ">
              <label for="inputAddress" class="form-label"> Libro Favoritos <i class="fa-solid fa-globe iconMundo"></i></label>
              <div class="row d-flex justify-content-around align-items-center">
                <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="libros" name="favoritelanguajeuser">
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="libros" name="favoritelanguajeuser">
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="libros" name="favoritelanguajeuser">
                </div>
                <div class="col-md-2">
                  <i class="fa-sharp fa-solid fa-plus"></i>
                </div>
              </div>
              <div class="col-12 ">
                <label for="inputAddress" class="form-label"> Musica Favoritos <i class="fa-solid fa-globe iconMundo"></i></label>
                <div class="row d-flex justify-content-around align-items-center">
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="libros">
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="libros">
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="libros">
                  </div>
                  <div class="col-md-2">
                    <i class="fa-sharp fa-solid fa-plus"></i>
                  </div>
                </div>
                <div class="col-12 ">
                  <label for="inputAddress" class="form-label"> Lenguaje Favoritos <i class="fa-solid fa-globe iconMundo"></i></label>
                  <div class="row d-flex justify-content-around align-items-center">
                    <div class="col-md-3">
                      <input type="text" class="form-control" placeholder="libros">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" placeholder="libros">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" placeholder="libros">
                    </div>
                    <div class="col-md-2">
                      <i class="fa-sharp fa-solid fa-plus"></i>
                    </div>
                  </div>
                  <div class="col-12 ">
                    <label for="inputAddress" class="form-label"> Videos Juegos Favoritos <i class="fa-solid fa-globe iconMundo"></i> </label>
                    <div class="row d-flex justify-content-around align-items-center">
                      <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="libros">
                      </div>
                      <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="libros">
                      </div>
                      <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="libros">
                      </div>
                      <div class="col-md-2">
                        <i class="fa-sharp fa-solid fa-plus"></i>
                      </div>
                    </div>
                    <div class="col-12 ">
                      <label for="inputAddress" class="form-label"> Colores Favoritos <i class="fa-solid fa-globe iconMundo"></i></label>
                      <div class="row d-flex justify-content-around align-items-center">
                        <div class="col-md-3">
                          <input type="text" class="form-control" placeholder="libros">
                        </div>
                        <div class="col-md-3">
                          <input type="text" class="form-control" placeholder="libros">
                        </div>
                        <div class="col-md-3">
                          <input type="text" class="form-control" placeholder="libros">
                        </div>
                        <div class="col-md-2">
                          <i class="fa-sharp fa-solid fa-plus"></i>

                        </div>
                      </div>

                      <div class="col-12 d-flex justify-content-around mt-4 mb-4">
                        <button type="submit" name="submit" id="submit" class="btn btn-danger rounded-5 text-white"  value="cancel"> Cancelar</button>
                        <button type="submit" name="submit" id="submit" class="btn btn-info rounded-5 text-white" value="save"> Guardar</button>


                      </div>
          </form>
    </section>
  </section>
</section>

{% endblock %}
